footer{
    height: auto;
    width: 60%;

    display: flex;
    flex-direction: row;
    margin: 1% auto auto auto;

    justify-content: space-evenly;

    background-color: var(--preto);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}