.programas{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-content: center;
    align-self: center;

    width: 50%;
    height: auto;

    border-radius: 50px;
}
.programas img{
    height: 60px;
    width: 60px;
    margin: 12% auto 12% auto;
}
@media screen and (max-width: 600px){
    .programas{
        width: 50vw;

        justify-content: space-around;
        flex-wrap: wrap;
    }
    .programas img{
        height: 35px;
        width: 35px;
        margin: 2% 2% 2% 2%;
    }
}